$primary-color: #07beb8;
$secondary-color: #3dccc7;
$tertiary-color: #68d8d6;
$accent-color: #9ceaef;
$highlight-color: #c4fff9;

$black: #011627;
$black-text: #313131;

$light-grey: #f8f8f8;
$dark-grey: #cecece;
