# Serveur
export NODE_ENV="production"
export PORT=8000
export HOST="localhost"
export PROTOCOL="http" 

# database configuration
export DATABASE_TYPE="DATABASE_TYPE"  # postgres, mysql, mariadb, sqlite, mssql
export DATABASE_NAME="DATABASE_NAME"  # database name
export DATABASE_USER="DATABASE_USER" # database user
export DATABASE_PASSWORD="DATABASE_PASSWORD" # database password
export DATABASE_HOST="localhost" # database host
export DATABASE_PORT=0000  # database port

export DATABASE_URL="${DATABASE_TYPE}://${DATABASE_USER}:${DATABASE_PASSWORD}@${DATABASE_HOST}:${DATABASE_PORT}/${DATABASE_NAME}"

#API
export API_PREFIX="api" 
export API_NAME="critick" 
export API_VERSION=1 

export API_ORIGIN="${PROTOCOL}://${HOST}:${PORT}"
export API_ROUTE_PREFIX="${API_PREFIX}-${API_NAME}/v${API_VERSION}"

# GOOGLE

export GOOGLE_CLIENT_ID="GOOGLE_CLIENT_ID"
export GOOGLE_CLIENT_SECRET="GOOGLE_CLIENT_SECRET"
export GOOGLE_CALLBACK_URL="${API_ORIGIN}/google/callback"

# SESSION SECRET

export SESSION_SECRET=$(openssl rand -base64 32) # GENERATE A RANDOM STRING

#Export all variables 
export ALL_VARIABLES=(
  "NODE_ENV"
  "PORT"
  "HOST"
  "DATABASE_TYPE"
  "DATABASE_NAME"
  "DATABASE_USER"
  "DATABASE_PASSWORD"
  "DATABASE_HOST"
  "DATABASE_PORT"
  "DATABASE_URL"
  "API_NAME"
  "API_PREFIX"
  "API_ROUTE_PREFIX"
  "API_VERSION"
  "API_ORIGIN"
  "GOOGLE_CLIENT_ID"
  "GOOGLE_CLIENT_SECRET"
  "GOOGLE_CALLBACK_URL"
  "SESSION_SECRET"
)